$blue: #19a2a7; 
$orange: #ce7a0d;
$pink: #cf1964;

body {
    background-color: $blue;
}

h1 {
    color: $orange;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    color: $pink;
    font-size: 20px;
    border: 1px solid blue;
}