$blue: rgb(41, 124, 233);
$text-color: rgb(62, 67, 75);

html {
    height: 100%;
    background: linear-gradient($blue, lightyellow) no-repeat;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

#todo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid black;
    width: 800px;
    margin: auto;

}