html {
  height: 100%;
  background: linear-gradient(#297ce9, lightyellow) no-repeat;
  color: #2a2e33; }

main {
  display: flex;
  flex-direction: column;
  margin-top: 200px; }

#todo-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  margin: auto;
  box-shadow: 1px 1px 3px #aaa8a8;
  border: 1px solid rgba(3, 3, 3, 0.4); }
  #todo-container #todo-title-container {
    display: flex;
    flex-direction: row;
    width: 100%; }
    #todo-container #todo-title-container #todo-title {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      padding-left: 2%; }
    #todo-container #todo-title-container #todo-add-button {
      font-weight: bold;
      font-size: 30px;
      align-self: center;
      padding-left: 63%; }
  #todo-container .todo-item {
    list-style: none;
    width: 80%; }
  #todo-container .todo-item:nth-of-type(even) {
    background-color: gray; }
  #todo-container .todo-item:nth-of-type(odd) {
    background-color: lightgray; }
