$blue: rgb(41, 124, 233);
$text-color: rgb(42, 46, 51);
@mixin box-shadow($x, $y, $blur, $c) {
  -webkit-box-shadow: $x $y $blur $c;
  -moz-box-shadow: $x $y $blur $c;
  -ms-box-shadow: $x $y $blur $c;
  box-shadow: $x $y $blur $c;
}

.deleted {
  text-decoration: line-through;
  color: gray;
}

.hidden {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

html {
  body {
    background: linear-gradient(80deg, $blue, lightblue, lightyellow) no-repeat;
    color: $text-color;
    height: 100vh;

    main {
      display: flex;
      flex-direction: column;
      margin-top: 100px;

      #todo-container {
        @include box-shadow(0px, 0px, 10px, rgba(95, 94, 94, 0.4));
        display: flex;
        flex-direction: column;
        width: 500px;
        margin: auto;
        border: 2px solid rgba(255, 255, 255, 0.4);
        border-radius: 3px;
        background-color: rgba(211, 211, 211, 0.4);

        #todo-title-container {
          display: flex;
          flex-direction: column;
          padding-bottom: 10px;
          margin-top: -26.6px;

          input {
            padding: 10px 0 10px 5px;
            margin-top: 0;
            border: none;
            background: inherit;
          }

          input:focus {
            @include box-shadow(0px, 0px, 2px, rgba(95, 94, 94, 0.4));
            border-radius: 3px;
          }

          #todo-title {
            font-family: "Lobster", "Ubuntu", sans-serif;
            font-size: 2.5em;
            font-weight: 400;
            padding: 1% 0 1% 2%;
            margin-bottom: 0;
            background-color: $blue;
            color: white;
            text-shadow: 1px 1px 3px gray;
          }

          #todo-add-button {
            margin-left: 60%;
            cursor: pointer;
          }
        }

        #todo-list {
          margin: 0;
          padding: 0;
        }

        .todo-item {
          padding: 10px 0 10px 10px;
          list-style: none;
          width: 100%;
          text-transform: capitalize;
        }
        .todo-item:nth-of-type(even) {
          background-color: rgba(228, 226, 226, 0.2);
        }

        .todo-item:hover {
          cursor: pointer;

          .todo-delete-button {
            transition: all 0.5s;
            transform: translateX(8px);
            opacity: 1;
            width: 30px;
          }
        }

        .todo-delete-button {
          display: inline-block;
          font-size: 1.5em;
          position: relative;
          right: 10px;
          top: 5px;
          color: red;
          width: 0;
          height: 0;
          opacity: 0;
        }
      }
    }
    #button-container {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 20px;

      .calendar-buttons {
        margin-right: 10px;
        cursor: pointer;
        padding: 10px;
        border-radius: 3px;
        border: 1px solid rgba(128, 128, 128, 0.5);
        @include box-shadow(1px, 1px, 3px, rgb(190, 187, 187));
      }
      .calendar-buttons:hover {
        transform: scale(1.05);
        @include box-shadow(2px, 2px, 5px, rgb(158, 156, 156));
      }

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
