.deleted {
  text-decoration: line-through;
  color: gray; }

html {
  height: 100%;
  background: linear-gradient(80deg, #297ce9, lightblue, lightyellow) no-repeat;
  color: #2a2e33; }
  html main {
    display: flex;
    flex-direction: column;
    margin-top: 100px; }
    html main #todo-container {
      -webkit-box-shadow: 0px, 0px, 10px, rgba(95, 94, 94, 0.4);
      -moz-box-shadow: 0px, 0px, 10px, rgba(95, 94, 94, 0.4);
      -ms-box-shadow: 0px, 0px, 10px, rgba(95, 94, 94, 0.4);
      box-shadow: 0px, 0px, 10px, rgba(95, 94, 94, 0.4);
      display: flex;
      flex-direction: column;
      width: 500px;
      margin: auto;
      border: 2px solid rgba(255, 255, 255, 0.4);
      border-radius: 3px;
      background-color: rgba(211, 211, 211, 0.4); }
      html main #todo-container #todo-title-container {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px; }
        html main #todo-container #todo-title-container input {
          padding: 10px 0 10px 5px;
          border: none;
          background: inherit; }
        html main #todo-container #todo-title-container input:focus {
          -webkit-box-shadow: 0px, 0px, 2px, rgba(95, 94, 94, 0.4);
          -moz-box-shadow: 0px, 0px, 2px, rgba(95, 94, 94, 0.4);
          -ms-box-shadow: 0px, 0px, 2px, rgba(95, 94, 94, 0.4);
          box-shadow: 0px, 0px, 2px, rgba(95, 94, 94, 0.4);
          border-radius: 3px; }
        html main #todo-container #todo-title-container #todo-title {
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
          padding-left: 2%; }
        html main #todo-container #todo-title-container #todo-add-button {
          margin-left: 60%; }
      html main #todo-container #todo-list {
        margin: 0;
        padding: 0; }
      html main #todo-container .todo-item {
        padding: 10px 0 10px 10px;
        list-style: none;
        width: 100%; }
      html main #todo-container .todo-item:hover {
        cursor: pointer; }
        html main #todo-container .todo-item:hover .todo-delete-button {
          transition: all 0.5s;
          transform: translateX(8px);
          opacity: 1;
          width: 30px; }
      html main #todo-container .todo-delete-button {
        display: inline-block;
        font-size: 1.5em;
        position: relative;
        right: 10px;
        top: 5px;
        color: red;
        width: 0;
        height: 0;
        opacity: 0; }
  html #button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px; }
    html #button-container .calendar-buttons {
      margin-right: 10px;
      cursor: pointer; }
    html #button-container a {
      text-decoration: none; }
